<!-- Modal -->
<div id="alertmodal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div id="alertcontent"></div>
      <div class="modal-footer">
        <button id="confirm" type="button" class="btn btn-default">Confirm</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal end-->

<table>
  <tr>
    <td>
      <div class="panel panel-primary">
        <div class="panel-heading">Last added orders</div>
        <div class="panel-body">

<ul class="list-group">

    <table class="table-bordered" style="width: 100%">
  <% @orders.each do |order| %>  
    <tr>
    <td><b><%= order.number %></b></td>
    <td><%= order.sample_name %></td>
    <td><%= order.client.full_name %></td>
    <td><% ilosc = order.measurements.count %><% i = 0 %><% order.measurements.each do |t| %><% i = i + 1 %><%= t.technique.short_name %> <%= "," unless i == ilosc  %> <% end %></td>
    <td><%= link_to 'Show', order, class: "btn btn-default btn-xs" %> <%= link_to 'Edit', edit_order_path(order), class: "btn btn-default btn-xs" %></td>    
    </tr>
  <% end %>    
    </table>

</ul>

        </div>
      </div>
    </td>

    <td>
      <div class="panel panel-info">
        <div class="panel-heading">Ready orders</div>
        <div class="panel-body">

<ul class="list-group">
    <table class="table-bordered" style="width: 100%">
  <% @ready_orders.each do |order| %>
    <tr>
    <td><b><%= order.number %></b></td>
    <td><%= order.sample_name %></td>
    <td><%= order.client.full_name %></td>
    <td id="glyph_<%= order.id %>"><% case order.status
              when "W TRAKCIE POMIARU" %>
                <a class="done" id="done_<%= order.id %>" title="Zmień na 'Gotowy do odbioru'" class="btn btn-xs btn-default" role="button">
                      <span class="glyphicon glyphicon-ok"></span></a>
                <a class="start" id="start_<%= order.id %>" title="Zmień na 'W trakcie pomiaru'" class="btn btn-xs btn-default" role="button">
                      <span class="glyphicon glyphicon-step-backward" style="display: none;"></span></a>
                <a class="end" id="end_<%= order.id %>" title="Zmień na 'ZAKOŃCZONE'" class="btn btn-xs btn-default" role="button">
                      <span class="glyphicon glyphicon-lock"></span></a> 
              <% when "GOTOWY DO ODBIORU" %>
                <a class="done" id="done_<%= order.id %>" title="Zmień na 'Gotowy do odbioru'" class="btn btn-xs btn-default" role="button">
                      <span class="glyphicon glyphicon-ok" style="display: none;"></span></a>              
                <a class="start" id="start_<%= order.id %>" title="Zmień na 'W trakcie pomiaru'" class="btn btn-xs btn-default" role="button">
                      <span class="glyphicon glyphicon-step-backward"></span></a> 
                <a class="end" id="end_<%= order.id %>" title="Zmień na 'ZAKOŃCZONE'" class="btn btn-xs btn-default" role="button">
                      <span class="glyphicon glyphicon-lock"></span></a>
              <% when "ZMIANA METODY" %>
                <a class="done" id="done_<%= order.id %>" title="Zmień na 'Gotowy do odbioru'" class="btn btn-xs btn-default" role="button">
                      <span class="glyphicon glyphicon-ok" ></span></a>              
                <a class="start" id="start_<%= order.id %>" title="Zmień na 'W trakcie pomiaru'" class="btn btn-xs btn-default" role="button">
                      <span class="glyphicon glyphicon-step-backward" style="display: none;"></span></a> 
                <a class="end" id="end_<%= order.id %>" title="Zmień na 'ZAKOŃCZONE'" class="btn btn-xs btn-default" role="button">
                      <span class="glyphicon glyphicon-lock"></span></a>  
            <% end %>
        </td>

    <td><% ilosc = order.measurements.count %><% i = 0 %><% order.measurements.each do |t| %><% i = i + 1 %><%= t.technique.short_name %> <%= "," unless i == ilosc  %> <% end %></td>
    <td><%= link_to 'Show', order, class: "btn btn-default btn-xs" %> <%= link_to 'Edit', edit_order_path(order), class: "btn btn-default btn-xs" %></td>    
    </tr>
  <% end %>
    </table>
</ul>

        </div>
      </div>
    </td>


    <td>
      <div class="panel panel-danger">
        <div class="panel-heading">The oldest orders</div>
        <div class="panel-body">

<ul class="list-group">
    <table class="table-bordered" style="width: 100%">
  <% @oldest_not_ready.each do |order| %>

      <tr>
        <td><b><%= order.number %></b></td>
        <td><%= order.sample_name %></td>
        <td><%= order.client.full_name %></td>
        <td id="glyph_<%= order.id %>"><% case order.status
              when "W TRAKCIE POMIARU" %>
                <a class="done" id="done_<%= order.id %>" title="Zmień na 'Gotowy do odbioru'" class="btn btn-xs btn-default" role="button">
                      <span class="glyphicon glyphicon-ok"></span></a>
                <a class="start" id="start_<%= order.id %>" title="Zmień na 'W trakcie pomiaru'" class="btn btn-xs btn-default" role="button">
                      <span class="glyphicon glyphicon-step-backward" style="display: none;"></span></a>
                <a class="end" id="end_<%= order.id %>" title="Zmień na 'ZAKOŃCZONE'" class="btn btn-xs btn-default" role="button">
                      <span class="glyphicon glyphicon-lock"></span></a> 
              <% when "GOTOWY DO ODBIORU" %>
                <a class="done" id="done_<%= order.id %>" title="Zmień na 'Gotowy do odbioru'" class="btn btn-xs btn-default" role="button">
                      <span class="glyphicon glyphicon-ok" style="display: none;"></span></a>              
                <a class="start" id="start_<%= order.id %>" title="Zmień na 'W trakcie pomiaru'" class="btn btn-xs btn-default" role="button">
                      <span class="glyphicon glyphicon-step-backward"></span></a> 
                <a class="end" id="end_<%= order.id %>" title="Zmień na 'ZAKOŃCZONE'" class="btn btn-xs btn-default" role="button">
                      <span class="glyphicon glyphicon-lock"></span></a>
              <% when "ZMIANA METODY" %>
                <a class="done" id="done_<%= order.id %>" title="Zmień na 'Gotowy do odbioru'" class="btn btn-xs btn-default" role="button">
                      <span class="glyphicon glyphicon-ok" ></span></a>              
                <a class="start" id="start_<%= order.id %>" title="Zmień na 'W trakcie pomiaru'" class="btn btn-xs btn-default" role="button">
                      <span class="glyphicon glyphicon-step-backward" style="display: none;"></span></a> 
                <a class="end" id="end_<%= order.id %>" title="Zmień na 'ZAKOŃCZONE'" class="btn btn-xs btn-default" role="button">
                      <span class="glyphicon glyphicon-lock"></span></a>  
            <% end %>
        </td>        
        <td><b><%= ((Time.now - order.order_date.to_datetime)/1.day).to_i %> dni</b></td>
        <td><% ilosc = order.measurements.count %><% i = 0 %><% order.measurements.each do |t| %><% i = i + 1 %><%= t.technique.short_name %> <%= "," unless i == ilosc  %> <% end %></td>
        <td><%= link_to 'Show', order, class: "btn btn-default btn-xs" %> <%= link_to 'Edit', edit_order_path(order), class: "btn btn-default btn-xs" %></td>
      </tr>
      
  <% end %>
    </table>
</ul>

        </div>
      </div>
    </td>



  </tr>
</table>


