<p id="notice"><%= notice %></p>

<table class="table table-condensed">
	<tr class="success">
		<td><h4>Raport: <%= @report.name %></h4></td>
		<td><h5><strong>Data wykonania od: </strong><%= @report.date_from %> <strong>do: </strong><%= @report.date_to %></h5></td>
	</tr>
	<tr class="active">
    	<td colspan="2">
    	<% case @report.i_type
    		when "NIEKOMERCYJNA" %>
      		<%= render 'niekomercyjne' %>
    	<% when "ICHO" %>
      		<%= render 'icho' %>
      <% when "KOMERCYJNA" %>
          <%= render 'niekomercyjne' %>
      <% when "ICHO 1 GRANT" %>
          <%= render 'ichogrant' %>                          	
      	<% end %>
    	</td>
  	</tr>
</table>

<%= link_to 'Edit', edit_report_path(@report), class: "btn btn-default" %> |
<%= link_to 'Back to Reports', reports_path, class: "btn btn-default" %>